<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1091793806898-s1tu8mas6fvbb6h61cehahe97t194anu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091793806898-s1tu8mas6fvbb6h61cehahe97t194anu</string>
	<key>API_KEY</key>
	<string>AIzaSyCV0b0EIdVdP7bNQhJoz2NNkQ0I3t-UtBM</string>
	<key>GCM_SENDER_ID</key>
	<string>1091793806898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shrinkingplanet.vtec.mobile</string>
	<key>PROJECT_ID</key>
	<string>vt-economic-calendar-24fc0</string>
	<key>STORAGE_BUCKET</key>
	<string>vt-economic-calendar-24fc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091793806898:ios:c8216397cb1f3eef</string>
	<key>DATABASE_URL</key>
	<string>https://vt-economic-calendar-24fc0.firebaseio.com</string>
</dict>
</plist>